<section class="about section" id="about">
  <div class="container about-container">
    <div class="about-content">
      <svg class="about-svg" aria-hidden="true">
        <use href="/img/sprite.svg#icon-flower-logo"></use>
      </svg>

      <h2 class="about-header">Our Passion for Floral Artistry</h2>
      <p class="about-text">
        At Flora, we believe that every bouquet tells a story. Our team
        meticulously crafts each arrangement, blending creativity with the
        freshest blooms to create stunning pieces for every occasion.
      </p>
    </div>

    <img
      src="../img/about-image.jpg"
      alt="photo of bouquet and our worker"
      class="about-image"
    />
  </div>
</section>
