<section class="bestsellers section" id="bestsellers">
  <div class="container">
    <h2 class="bestseller-header">Top-Selling Bouquets</h2>
    <ul class="bestseller-list">
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Spring Elegance</h3>
        <p class="bestseller-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bestseller-item_price">&dollar;35</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Berry Chic</h3>
        <p class="bestseller-item_description">
          A stylish composition of roses, seasonal greenery, and vibrant berries
          — a bold and elegant floral statement.
        </p>
        <p class="bestseller-item_price">&dollar;40</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Lavender Dream</h3>
        <p class="bestseller-item_description">
          A rich bouquet with lavender, lisianthus, and roses — ideal for those
          who love deep hues and gentle fragrance.
        </p>
        <p class="bestseller-item_price">&dollar;55</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
      <li class="bestseller-item product-open">
        <img src="" alt="" class="bestseller-item_img" />
        <h3 class="bestseller-item_header">Autumn Harmony</h3>
        <p class="bestseller-item_description">
          A rich blend of chrysanthemums, marigolds, and autumn leaves — a warm
          and inviting floral arrangement.
        </p>
        <p class="bestseller-item_price">&dollar;38</p>
      </li>
    </ul>
    <div class="navigation-container">
      <ul class="slide-list">
        <li class="slide-item slide-active"></li>
        <li class="slide-item"></li>
        <li class="slide-item"></li>
        <li class="slide-item"></li>
        <li class="slide-item"></li>
        <li class="slide-item"></li>
      </ul>
      <div class="btn-arrow_container">
        <button type="button" class="btn-arrow">
          <svg class="arrow-svg">
            <use href="/img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="btn-arrow">
          <svg class="arrow-svg">
            <use href="/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
