<section class="bouqets section" id="bouquets">
  <div class="container bouqets-container">
    <h2 class="bouqets-header">Bouquets</h2>
    <p class="bouqets-text">
      Explore our stunning selection of fresh flower bouquets.
    </p>
    <ul class="bouqets-list">
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
      <li class="bouqets-item">
        <img src="" alt="" class="bouqets-item_img" />
        <h3 class="bouqets-item_header">Spring Elegance</h3>
        <p class="bouqets-item_description">
          A delicate blend of peonies, tulips, and roses — perfect for
          springtime gifting and bright smiles.
        </p>
        <p class="bouqets-item_price">&dollar;35</p>
      </li>
    </ul>
    <button type="button" class="bouqets-btn btn">Show More</button>
  </div>
</section>
