<section class="contacts section" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-content">
      <div class="contacts-text-container">
        <p class="contacts-text">Connect</p>
        <h2 class="contacts-header">Get in Touch</h2>
        <p class="contacts-desciption">
          We're here to assist you with all your floral needs and inquiries.
        </p>
      </div>

      <ul class="contacts-list">
        <li class="contacts-item">
          <p class="contacts-item-name">
            <svg class="modal-contacts-svg">
              <use href="/img/sprite.svg#icon-phone"></use></svg
            >Phone
          </p>
          <a href="" class="contacts-item_link phone-link">+1 (555) 123-4567</a>
        </li>
        <li class="contacts-item">
          <p class="contacts-item-name">
            <svg class="modal-contacts-svg">
              <use href="/img/sprite.svg#icon-map"></use></svg
            >Store
          </p>
          <a href="" class="contacts-item_link"
            >456 Floral Ave, Sydney NSW 2000 AU</a
          >
        </li>
      </ul>
    </div>

    <img
      src="../img/contacts-image.jpg"
      alt="photo of our worker serving a customer in the store"
      class="contacts-img"
    />
  </div>
</section>
