<section class="feedback section" id="feedback">
  <div class="container feedback-container">
    <h2 class="feedback-header">What our clients says</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <p class="feedback-text">
          "Flora made my anniversary unforgettable with their beautiful
          arrangement!"
        </p>
        <p class="feedback-author">Emma T.</p>
      </li>
      <li class="feedback-item">
        <p class="feedback-text">
          Absolutely stunning bouquet! It looked even better than the photo and
          arrived right on time.
        </p>
        <p class="feedback-author">Daniel R.</p>
      </li>
      <li class="feedback-item">
        <p class="feedback-text">
          The service was exceptional, and the flowers were fresh!
        </p>
        <p class="feedback-author">Olivia M.</p>
      </li>
      <li class="feedback-item">
        <p class="feedback-text">
          I ordered a bouquet for my mother's birthday, and she was thrilled
          with the vibrant colors and lovely scent.
        </p>
        <p class="feedback-author">James L.</p>
      </li>
    </ul>
    <div class="btn-arrow_container feedback-arrow_container">
      <button type="button" class="btn-arrow">
        <svg class="arrow-svg">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="btn-arrow">
        <svg class="arrow-svg">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
