<div class="modal-background">
  <div class="order-modal_container container">
    <span class="order-modal_close"></span>
    <h2 class="order-modal_header"></h2>
    <form action="" class="order-modal_form">
      <label class="order-modal_label" for="name">Name*</label>
      <input
        class="order-modal_input"
        placeholder="Ann"
        type="text"
        id="name"
        name="name"
        required
      />
      <label class="order-modal_label" for="phone">Phone*</label>
      <input
        class="order-modal_input"
        placeholder="+1 (555) 123-4567"
        type="tel"
        id="phone"
        name="phone"
        required
      />
      <label class="order-modal_label" for="email">Adress</label>
      <input
        class="order-modal_input"
        placeholder="456 Floral Ave, Sydney NSW 2000 AU"
        type="text"
        id="email"
        name="email"
      />
      <label class="order-modal_label" for="message">Message</label>
      <textarea
        class="order-modal_textarea"
        placeholder="Type your message..."
        id="message"
        name="message"
      ></textarea>
      <button type="submit" class="order-modal_btn">Go to Checkout</button>
    </form>
  </div>
</div>
