.btn {
  border-radius: 100px;
  border: none;
  font-family: 'Roboto-Medium', sans-serif;
  background: linear-gradient(100deg, #e8e81c 0%, #42ed13 100%);
  transition: all 0.3s ease;
}
.btn:hover {
  opacity: 0.5;
}
.btn:disabled {
  opacity: 0.2;
}
.btn:active {
  background: #4e544d;
  color: #fff;
  opacity: 1;
}
.btn:active .nav-btn_link,
.btn:active .hero-btn_link {
  color: #fff;
  opacity: 1;
}

.btn-arrow_container {
  display: flex;
  gap: 16px;
}
.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgba(3, 12, 1, 0.15);
}
.arrow-svg {
  width: 14px;
  height: 14px;
  fill: #030c01;
}
