/* --- IMPORTS */

@import url('./_header.css');
@import url('./_hero.css');
@import url('./_about.css');
@import url('./_bestsellers.css');
@import url('./_bouqets.css');
@import url('./_feedback.css');
@import url('./_contacts.css');
@import url('./_footer.css');
@import url('./_modal.css');

/* --- COMPONENTS --- */
@import url('./_components.css');

/* --- FONTS --- */

@font-face {
  font-family: 'Hanuman-Regular';
  src: url('../font/Hanuman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-SemiBold';
  src: url('../font/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* --- BASE --- */

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #030c01;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
.section {
  padding: 64px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }

  .section {
    padding: 92px 0;
  }
}

/* --- RESET --- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
